.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  place-items: center;
  margin: 0 auto;
  min-width: 350px;
  max-width: 500px;
  max-width: 440px;
}

.brewsterSpeechContainer {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 23vh;
  margin: 0 auto;
  z-index: 1000;
  /* background-color: salmon;	 */
}

.brewsterSpeechContainer img {
  margin: 0 auto;
  width: 85%;
  height: 100%;
}

.menuContainer {
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
}

@media only screen and (min-width: 1000px) {
  .cardsContainer {
    position: absolute;
    top: 0;
    margin-left: 4vw;
    width: 50vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .brewsterSpeechContainer {
    top: 10vh;
    left: 50vw;
    width: 50vw;
    height: 30vh;
  }

  .menuContainer {
    position: absolute;
    border-radius: 50px;
    font-size: 20px;
    border: 5px solid black;
    margin: 2%;
    padding: 3%;
    bottom: 0;
    right: 0;
    background-color: wheat;
  }
}
