.BrewsterInDaBox {
	/* display: hidden; */
	position: absolute;
	background-color: white;
	opacity: 1%;
	top: 18vh;
	right: 8vw;
	width: 15vw;
	height: 10vh;
}

@media only screen and (min-width: 1000px) {
  .BrewsterInDaBox {
		top: 44vh;
		height: 20vh;
  }
}